body {
  background: url(../Images/background12.png);
  background-repeat: no-repeat;
  background-size: cover;
  .top-header {
    ul {
      list-style: none;
      margin-bottom: -1.5rem;
    }
    ul li {
      display: inline-block;
      padding: 0 7px;
      position: relative;
    }
    ul li:not(:last-child)::after {
      content: "";
      border: 1px solid #e2e2e2;
      border-width: 1px 1px 0 0;
      position: absolute;
      right: -3px;
      top: 20%;
      height: 60%;
    }
  }

  .nav-1 {
    margin-top: -1rem;
    nav {
      background: #dbd9da;
      vertical-align: middle;
      border: 0.1rem double white;
      border-width: 0.4rem;
    }
    div {
      margin-top: -0.3rem;
      margin-bottom: -0.2rem;
    }
    ul {
      list-style: none;
      vertical-align: middle;
    }
    ul li {
      display: inline-block;
      padding: 0 7px;
      position: relative;
    }
    ul li:not(:last-child)::after {
      content: "";
      border: 1px solid whitesmoke;
      border-width: 2px 2px 0 0;
      position: absolute;
      right: -3px;
      top: -15%;
      height: 170%;
    }
    a {
      color: black;
      vertical-align: middle;
      text-decoration: none;
    }
    .custom-form1 {
      input {
        border-style: inset;
        height: 2rem;
      }
      button {
        height: 2rem;
      }
    }
  }

  .navbar-2 {
    ul {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      list-style: circle;
      list-style-position: inside;
      text-indent: 1em;
      padding-left: 1em;
      color: #233f91;
    }
    .bridal-nav {
      a {
        text-decoration: none;
        color: #233f91;
      }
    }
  }
  .separationLine {
    margin-top: -0.5rem;
  }
  .rightCard {
    background-color: #000000;
    background-image: linear-gradient(147deg, #000000 0%, #434343 74%);
    border: 0.5rem double white;

    li {
      color: rgba(174, 172, 173, 255);
      list-style: none;
    }
    hr {
      color: white;
    }
    a {
      color: rgba(118, 116, 117, 255);
    }
    .rightCardTitle {
      h2 {
        font-weight: normal;
        color: rgba(206, 205, 206, 255);
      }
      p {
        font-weight: normal;
        color: rgba(104, 102, 103, 255);
      }
    }
  }
  //cardnames
  .card21 {
    background-image: url(../Images/promo_glass.png);
    background-repeat: no-repeat;
    background-size: contain;
    height: 14rem;
    h5 {
      margin-top: -10px;
      line-height: 1em;
    }
    p {
      color: gray;
    }
    a {
      text-decoration: none;
      color: #233f91;
    }
  }

  .card22 {
    background-image: url(../Images/promo_plates.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
    height: 14rem;
    h5 {
      margin-top: -10px;
      line-height: 1em;
    }
    p {
      color: gray;
    }
    a {
      text-decoration: none;
      color: #233f91;
    }
  }
  .card23 {
    background-image: url(../Images/promo_album.png);
    background-position: right;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: 200px 220px;
    height: 14rem;
    h5 {
      margin-top: -10px;
      line-height: 1em;
    }
    p {
      color: gray;
    }
    a {
      text-decoration: none;
      color: #233f91;
    }
  }

  .custom-footer {
    float: left;
    color: #949293;
    .customFooterP1 {
      margin-top: -10px;
      a {
        color: #949293;
      }
    }
    .customFooterP2 {
      margin-top: -16px;
    }
    ul {
      list-style: none;
    }
    ul li {
      display: inline-block;
      padding: 0 7px;
      position: relative;
    }
    ul li:not(:last-child)::after {
      content: "";
      border: 1px solid gray;
      border-width: 1px 1px 0 0;
      position: absolute;
      right: -3px;
      top: 20%;
      height: 70%;
    }
  }
  .signUp {
    float: right;
    color: #949293;
    .custom-form2 {
      input {
        border-style: inset;
      }
      button {
        padding: 0 0.8rem;
      }
    }
  }

  @media (max-width: 960px) {
    .nav-1 {
      ul {
        list-style: none;
      }
      ul li {
        display: inline-block;
        padding: 0 7px;
        position: relative;
      }
      ul li:not(:last-child)::after {
        content: "";
        border: 1px solid whitesmoke;
        border-width: 2px 2px 0 0;
        position: absolute;
        right: -3px;
        top: 15%;
        height: 80%;
      }
    }
    .navbar-2 {
      .bridal-nav {
        // margin: 0 auto;
        padding-left: 1.5em;
      }
      img {
        width: 20%;
      }
    }
    .custom-form2 {
      margin-top: 4rem;
      float: left;
    }
  }
}
